@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body
{
    margin: 0;
    padding: 0;
}

.container
{
    display: flex;
    flex-direction: row;
}

.welcome
{
    background-image: url("img/bg_image.jpg ");
    /* background-image: url('path/to/your/image.jpg'); */
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    height: 100vh;
    width: 50%;
    float: left;
    
}

.signup
{
    background-color: aquamarine;
}