body
{
    margin: 0;
    padding: 0;
}

.container
{
    display: flex;
    flex-direction: row;
}

.welcome
{
    background-image: url("img/bg_image.jpg ");
    /* background-image: url('path/to/your/image.jpg'); */
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    height: 100vh;
    width: 39%;
    float: left;
    
}

#heading
{   
    position: absolute;
    background-color: rgb(243,244,235, 0.5)    ;
    height: 20vh;
    width: 39%;
    top: 24vh;

}

.text
{   
    /* position: absolute; */
    text-align: center;
    font-family:  'Lato', sans-serif;
    font-size: 42px;
    color: black;
    margin-top: 30vh;

}
